<header class="main-head">MemeMan English Transliteration</header>

<main>
  <header class="source-target-header">
    <div class="languages">
      <span>ENGLISH</span>
    </div>
    <button class="meman" (click)="transliterate()">
      <img src="./assets/meman.png" alt="Meman" />
    </button>
    <div class="languages">
      <span>ENGLS</span>
    </div>
  </header>

  <div class="source-target-container">
    <div class="source">
      <textarea
        #sourceEl
        spellcheck="false"
        [ngModel]="source"
        (ngModelChange)="transliterate($event)"
        (scroll)="targetEl.scrollTop = sourceEl.scrollTop"
      ></textarea>
      <button class="clear-btn" *ngIf="source" (click)="clear()">✕</button>
      <span class="counter">{{ source.length }}</span>
    </div>

    <div #targetEl class="target" (scroll)="sourceEl.scrollTop = targetEl.scrollTop">
      <p [innerHTML]="transliteration"></p>
    </div>
  </div>
</main>

<footer>
  <a
    class="github-link"
    href="https://github.com/meme-man-english/meme-man-english"
    target="_blank"
    rel="noopener"
  >
    GitHub
  </a>
  <p>
    Copyright © 2020
    <a href="https://www.linkedin.com/in/dabalyan/" target="_blank" rel="noopener">Ankit Singh</a>
  </p>
</footer>
